.cabecalho{
    background-color: rgb(217, 224, 15);
    color: #000000;
    display: flex;
    justify-content: center;}

.imagem-logo{
    width: 80px;}

.main{background-color: rgb(193, 246, 17);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(127, 148, 255);
justify-items: center;
}

.imagem-main{
width: 370px;
}